@charset "utf-8";
@media only screen and (-webkit-min-device-pixel-ratio: 2) {} 
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {}

* { margin:0; padding:0; border:0; }

body { line-height:1;  text-decoration:none; font-family: Nanumgothic,arial,verdana,sans-serif; font-size:13px; color:#111;  vertical-align:baseline;}
textarea { overflow:auto; border:1px solid #999999; }
table  { border-collapse:separate; border-spacing:0; }
li { list-style:none; }


a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none;  }
a:active { text-decoration:none; }

#wrapper { background-color:#fa9ecd; width:100%; height:100%; margin:0 auto; }
	#top { width:90%; height:80px; margin:0 auto; background:#ddd; text-align:center; }
		
	#middle { width:90%; min-height:300px; margin:0 auto; position:relative; background:#ccc; }
		.login_box { position:absolute; left:40%; top:10%; width:10%; height:20px;}
		.login_box2 { position:absolute; left:51%; top:10%; width:10%; height:20px; }
		.login_box3 { position:absolute; left:43%; top:10%; width:10%; height:20px; }
		.login_bt { position:absolute; left:62%; top:10%; width:45px; height:20px; }
		.login_bt2 { position:absolute; left:54%; top:10%; width:45px; height:20px; }
		.table1 { position:absolute; left:25%; top:20%; width:50%; height:200px; text-align:center;}
		.table1 td { border:1px solid #ddd; }
		
	#footer { width:90%; margin:0 auto; background:#bbb; }
	
	
	/* 화면 너비 801픽셀 ~ 1024픽셀 */
	@media screen and (max-width:1024px) {
		.login_box { position:absolute; left:16%; top:10%; width:42%; height:20px;}
		.login_box2 { position:absolute; left:16%; top:18%; width:42%; height:20px; }
		.login_bt { position:absolute; left:62%; top:10%; width:20%; height:44px; padding:14px; }
		.login_bt2 { position:absolute; left:62%; top:10%; width:20%; height:20px;  }
	}
	/*

		@media screen and (max-width:800px) {
			.login_bt { position:absolute; left:70%; }
		}

		@media screen and (max-width:600px) {
			.login_bt { position:absolute; left:70%; }
		}

		@media screen and (max-width:400px) {
			.login_bt { position:absolute; left:70%; }
		}*/
	